<!DOCTYPE html>
<html>
  <head>
    <title>404</title>
  </head>
  <body>
    <h1>CAT</h1>
    <p><a href="/">Go back lol</a></p>
    <!-- The youtube thing -->
    <figure>
      <img src="/spockercat.jpg"/>
      <figcaption>The authors cat xD</figcaption>
    </figure>
  </body>
</html>
